/* General Styling */
* {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #203346;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    background-color: #203346;
}

/* General background image */
.background-container {
    background-image: url("../images/oeschinesee_cropped_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 0.9rem;
}
li {
    font-size: 0.9rem;
}

#special-p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

#special-p2 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: left;
}
#special-p3 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    text-align: left;
}
/* Grid container */
.grid {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.grid-home {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

body{
    padding: 0;
    margin: 0;
}

/* Header Styling */
header {
    position: sticky;
    z-index: 1000;
    top: 0;
    margin-top: 0;
    grid-area: header;
    width: 60%;
    /* height: 100%; */
}

/* Header NAV */
.header-nav {
    display: flex;
    width: 100%;
    /* background-color: white; */
}

/* List Items Styling */
.header-nav ul {
    display: flex;
    list-style-type: none;
    width: 100%; 
    height: 10vh;
    align-self: center;
}

.header-nav li {
    display: flex;
    flex: 1; 
    align-self: center;
    height: 100%;
    justify-content: center;
    /* background-color: rgb(200, 200, 200); */
    background-color: white;
}

.header-nav li a,
.header-nav li a .full-text,
.header-nav li a .short-text {
    text-decoration: none; 
    text-align: center;
    color: rgba(117,117,117,1.0);
    align-self: center;
}

.header-nav li.active {
    display: flex;
    /* background-color: white; */
    background-color: rgb(200, 200, 200);
    height: 100%;
    align-self: center;
    justify-content: center;
}

.header-nav li.active a,
.header-nav li.active a .full-text,
.header-nav li.active a .short-text {
    color: #203346;
    text-align: center;
}

.header-nav li:hover {
    display: flex;
    flex: 1; 
    text-align: center;
    background-color: rgba(230, 230, 230, 1.0);
}

.header-nav li a:hover,
.header-nav li a:hover .full-text,
.header-nav li a:hover .short-text {
    color: orange;
}

/* Main Styling */
main {
    grid-area: main;
    align-self: center; /* To override align-items */
    justify-self: center;
    justify-items: center;
    width: 60%;
    background-color: white;
    text-align: center;
}

main.home {
    background-color: transparent;
}

main.normal {
    padding: 2rem 8rem 2rem 8rem ; 
}

main.home h1 {
    font-size: 3.7rem;
    font-weight: 900;
    font-family: "Garamond";
    line-height: 1.1;
    letter-spacing: 0.075em;
    margin-top: 50vh;
    color: rgb(252, 249, 245);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
}

main.home h2 {
    font-size: 3.1rem;    
    font-weight: 900;
    font-family: "Garamond";
    line-height: 1.1;
    letter-spacing: 0.075em;
    color: rgb(252, 249, 245);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
}
main.home p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    color: rgb(252, 249, 245);
    margin-top: 2vh;
    letter-spacing: 0.05em;
    width: 80%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}
main.normal h1,
main.normal h1 .short-text,
main.normal h1 .full-text {
    font-size: 2.3rem;
    max-width: 90%;
    font-weight: 900;
    letter-spacing: 0.04em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
main.normal h2 {
    font-size: 1.3rem;
    max-width: 90%;
    font-weight: 900;
    letter-spacing: 0.04em;
    margin-top: 0.0rem;
    margin-bottom: 0.0rem;
    text-align: left;
    margin-left: 1.4rem;
}
main.normal p {
    font-size: 1rem;
    max-width: 90%;
    /* font-weight: 1; */
    letter-spacing: 0.03em;
    margin-bottom: 2rem;  
}

/* Separate courses */
.section {
    border: 1px solid #ddd;
    padding: 1.25rem;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.course-separator {
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding-top: 0.2rem;
}

/* Toggle courses */
.toggle-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 1.5rem;
    position: relative;
    margin-top: 0.8rem;
    font-size: 1rem;
    justify-content: left;
    text-align: left;
}
.toggle-button:before {
    content: "+";
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 0rem;
    position: absolute;
    align-self: center;
    left: 0;
}
.toggle-button.active:before {
    content: "-";
    align-self: center;
    top: -0.3rem;
}
.toggle-content {
    display: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;  
    max-width: 95%;
}

.toggle-content li {
    list-style-position: outside;
    padding-left: 0.25em;
    font-size: 0.9rem;
}

.left-align-bullets ul {
    list-style-position: outside;
    list-style-type: square;
    padding-left: 1.25rem;
    line-height: 1.1rem;
    text-align: left; /* Ensure the text is left-aligned */
}

/* Shorten text when window width is too small */
.short-text {
    display: none;
}

/* Footer Styling */
footer {
    border-top: 1.5px solid rgb(200, 200, 200);
    padding: 1rem 5rem;
    display: flex;
    grid-area: footer;
    width: 60%;
    justify-content: left;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: white;
}
footer p {
    padding: 0.5rem 1rem;
    border-right: 1.8px solid rgb(200, 200, 200);
}

a:hover {
    color: orange;
}

#linkedin {
    border-right: none;
}

.footer-nav ul {
    padding-left: 2rem;
    list-style-type: none;

}

/* Media Styling */

.media-sizing {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 20rem;
    aspect-ratio: 16 / 9;
}
.media-sizing-special {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 20rem;
    aspect-ratio: 9 / 16;
}

.media-sizing-special-2 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 20rem;
    aspect-ratio: 1 / 1;
}

/* Media queries for responsive web design */
/* Adjust the font-sizes and the margins */
@media screen and (max-width: 2400px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 2000px) {
    html {
        font-size: 17px;
    }
}
@media screen and (max-width: 1600px){
    html {
        font-size: 16px;
    }
    main.normal h1,
    main.normal h1 .short-text,
    main.normal h1 .full-text {
        font-size: 2.1rem;
    }
    .media-sizing {
        max-height: 15rem;
    }
}
@media screen and (max-width: 1280px){
    html {
        font-size: 15px;
    }
    
    main.normal {
        padding: 2rem 2rem 2rem 2rem ; 
    }
    main, header, footer {
        width: 65%;
    }
    main.normal {
        padding: 2rem 7rem 2rem 7rem ; 
    }
    footer {

        padding: 1rem 5rem;
    }
    footer p {
        padding: 0.5rem 1rem;
    }

    main.home h1 {
        font-size: 3.5rem;
        font-weight: 800;
        letter-spacing: 0.06em;
        margin-top: 44vh;
    }
    main.home h2 {
        font-size: 3.2rem;
        font-weight: 700;
        letter-spacing: 0.06em;
    }
    main.home p {
        font-size: 1.5rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
    /* main.normal h1 {
        font-size: 2.5rem;
        max-width: 90%;
        font-weight: 900;
        letter-spacing: 0.04em;
        margin-top: 1rem;
        margin-bottom: 2rem;
    } */
    main.normal h1,
    main.normal h1 .short-text,
    main.normal h1 .full-text {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 980px){
    html {
        font-size: 13px;
    }       
    main, header, footer {
        width: 70%;
    }
    main.normal {
        padding: 2rem 6rem 2rem 6rem ; 
    }
    footer {
        padding: 1rem 2.5rem;
    }

    main.home h1 {
        font-size: 3.2rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        margin-top: 41vh;
    }
    main.home h2 {
        font-size: 2.8rem;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
    main.home p {
        font-size: 1.5rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
}

@media screen and (max-width: 740px){
    html {
        font-size: 12.5px;
    }    
    main, header, footer {
        width: 75%;
    }
    main.normal {
        padding: 2rem 3rem 2rem 3rem ; 
    }
    .short-text {
        display: block;
    }
    .full-text {
        display: none;
    }
    .header-nav ul {
        height: 8vh;
    }
    
    footer {
        padding: 1rem 0rem;
    }
    main.home h1 {
        font-size: 3.1rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        margin-top: 41vh;
    }
    main.home h2 {
        font-size: 2.7rem;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
    main.home p {
        font-size: 1.5rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
    main.normal h1,
    main.normal h1 .short-text,
    main.normal h1 .full-text {
        max-width: 100%;
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 600px){
    html {
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){
    html {
        font-size: 11.5px;
    }
    .header-nav ul {
        height: 6vh;
    }
    
}

@media screen and (max-width: 420px){
    html {
        font-size: 10.5px;
    }    
    main, header, footer {
        width: 80%;
    }
    main.normal {
        padding: 2rem 1.5rem 2rem 1.5rem ; 
    }  
    footer {
        padding: 0.5rem 0rem;
    }
    main.home h1 {
        font-size: 3rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        margin-top: 40vh;
    }
    main.home h2 {
        font-size: 2.65rem;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
    main.home p {
        font-size: 1.5rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
    .media-sizing {
        max-height: 8rem;
    }
}

@media screen and (max-width: 370px){
    html {
        font-size: 9.5px;
    }   
    main.home h1 {
        font-size: 2.9rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        margin-top: 38vh;
    }
    main.home h2 {
        font-size: 2.6rem;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
    main.home p {
        font-size: 1.45rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
}

@media screen and (max-height: 400px) {
    main.home h1 {
        font-size: 2.7rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        margin-top: 35vh;
        color: white;
    }
    main.home h2 {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
    main.home p {
        font-size: 1.35rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
}

@media screen and (max-height: 350px) {
    main.home h1 {
        font-size: 2.4rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        margin-top: 30vh;
        color: white;
    }
    main.home h2 {
        font-size: 2.1rem;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
    main.home p {
        font-size: 1.25rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
    .header-nav ul {
        height: 10vh;
    }
}
@media screen and (max-height: 300px) {
    main.home h1 {
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        margin-top: 30vh;
        color: white;
    }
    main.home h2 {
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 0.05em;
    }
    main.home p {
        font-size: 1.1rem;
        font-weight: 450;
        letter-spacing: 0.04em;
        color: white;
    }
}
@media screen and (max-height: 250px) {
    .header-nav ul {
        height: 12vh;
    }
}
@media screen and (max-height: 200px) {
    .header-nav ul {
        height: 15vh;
    }
}
