/* General Styling */
* {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #203346;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

/* General background image */
.background-container {
    background-image: url("../images/oeschinesee_cropped_3.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100vh;
}

/* Grid container */
.grid {
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    min-height: 100vh;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

body{
    padding: 0;
    margin: 0;
    background: none;
}

/* Header Styling */
header {
    position: sticky;
    z-index: 1000;
    top: 0;
    margin-top: 0;
    grid-area: header;
    width: 60%;
    /* height: 100%; */
}

/* Header NAV */
.header-nav {
    display: flex;
    width: 100%;
    /* background-color: white; */
}

/* List Items Styling */
.header-nav ul {
    display: flex;
    list-style-type: none;
    width: 100%; 
    height: 10vh;
    align-self: center;
}

.header-nav li {
    display: flex;
    flex: 1; 
    align-self: center;
    height: 100%;
    justify-content: center;
    background-color: rgb(200, 200, 200);
}

.header-nav li a {
    text-decoration: none; 
    text-align: center;
    color: rgba(117,117,117,1.0);
    align-self: center;
}

.header-nav li.active {
    display: flex;
    background-color: white;
    height: 100%;
    align-self: center;
    justify-content: center;
}

.header-nav li.active a {
    color: #203346;
    text-align: center;
}

.header-nav li:hover {
    display: flex;
    flex: 1; 
    text-align: center;
    background-color: rgba(230, 230, 230, 1.0);
}

.header-nav li a:hover {
    color: orange;
}

/* Main Styling */
main {
    grid-area: main;
    align-self: center; /* To override align-items */
    justify-self: center;
    justify-items: center;
    width: 60%;
    background-color: white;
    text-align: center;
}

main.home {
    background-color: transparent;
}

main.normal {
    padding: 2rem 8rem 2rem 8rem ; 
}

main.home h1 {
    font-size: 4rem;
    font-weight: 900;
    font-family: "Garamond";
    line-height: 1.1;
    letter-spacing: 0.075em;
    margin-top: 53vh;
    color: rgb(252, 249, 245);
    text-transform: uppercase;
}
main.home h2 {
    font-size: 3.2rem;    
    font-weight: 900;
    font-family: "Garamond";
    line-height: 1.1;
    letter-spacing: 0.075em;
    color: rgb(252, 249, 245);
    text-transform: uppercase;
}
main.home p {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 500;
    color: rgb(252, 249, 245);
    margin-top: 2vh;
    letter-spacing: 0.05em;
    width: 80%;
    text-align: center;
}

/* Separate courses */
.section {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.course-separator {
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding-top: 10px;
}

/* Toggle courses */
.toggle-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 25px;
    position: relative;
    margin-top: 0.8rem;
}
.toggle-button:before {
    content: "+";
    display: inline-block;
    font-size: 0.8rem;
    color: #000;
    position: absolute;
    left: 0;
}
.toggle-button.active:before {
    content: "-";
}
.toggle-content {
    display: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;   
}
.left-align-bullets ul {
    list-style-position: outside;
    padding-left: 18px;
    line-height: 1.1rem;
    text-align: left; /* Ensure the text is left-aligned */
}

/* Shorten text when window width is too small */
.short-text {
    display: none;
}

/* Footer Styling */
footer {
    grid-area: footer;
    width: 60%;
}

/* Media Styling */
.media-sizing {
    width: 15rem;
    height: auto;
}
.media-sizing-special {
    width: 10rem;
    height: auto;
}

.media-sizing-special-2 {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
}

